$primary-color: #333;
$fonts: "Goudy Old Style";

h1 {
  text-align: center;
  font-size: 3em;
}

* {
  font-family: $fonts;
}

a {
  font-size: 1.35em;
}

p {
  font-size: 1.25em;
}

img {
  height: 40%;
}

table {
  table-layout: fixed;
  width: 60%;
}

/* Create two equal columns that floats next to each other */
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.left {
  margin-left: 10%;
}

.left li:hover {
  color: turquoise;
  cursor: pointer;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* List */
ul {
  counter-reset: index;
  padding: 50px;
}

/* List element */
li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
  font-size: 1.5em;
}

/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}